h1{ 
	text-decoration-thickness: ;
text-align: center;
background-color: gray;
border: 4px solid black;
margin-bottom: 50px;
}
.row{
width: 	100%;
}


@media (min-width: 992px) {
.col-lg-5 {
	width:41.66%;
}
h1{ 
	text-decoration-thickness: ;
text-align: center;
background-color: gray;
border: 4px solid black;
margin-bottom: 50px;
}
#box{

width: 20%;
height: auto;
align-items: center;
float: right ;
background-color: gray;
padding: 20px 100px, 20px,20px;
border: 10px solid ;
margin-right: 10%;
border-color: black;
}
#content{
	width: 60px;
background-color: pink;
float: right;
top: 100px; 
}
}

@media (min-width: 768px) and (max-width: 991px){

#h1{ 
	text-decoration-thickness: ;
text-align: center;
background-color: gray;
border: 4px solid black;
margin-bottom: 50px;
}
#box{
width: 41.66%;
height:auto;
background-color: gray;
padding: 20px 100px, 20px,20px;
border: 10px solid ;
margin-right: 5%;
float: right;
margin-top: 20px;
margin-bottom: 20px;
border-color: black;
}
}
#content{
	width: 60px;
background-color: pink;
float: right;
top: 100px; 
}


@media  (max-width: 767px){



h1{ 
	text-decoration-thickness: ;
text-align: center;
background-color: gray;
border: 4px solid black;
margin-bottom: 50px;
}
#box{

width: 50%;
height: 200px;
background-color: gray;
padding: 20px 100px, 20px,20px;
border-color: black;
border: 10px solid ;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
margin-bottom: 20px;
}
#content{
	width: 60px;
background-color: pink;
float: right;
top: 100px; 
}

}